@model FilmSitesi.Models.tbl_Film
@{
    ViewBag.Title = "Film Sil";
}
<div class="row  col-md-12">
    <h2>Sil</h2>
</div>
<div class="row  col-md-12">
    <h3>@Model.FilmAdi</h3>
</div>
@using (Html.BeginForm())
{
    <div class="row  col-md-12">
        <p> Filmini silmek istediğinizden eminmisiniz.</p>
        <button type="submit" class="btn active">  Sil  </button>
        <a href='@Url.Action("Index", "Film")'><b style="color:green;">Vazgeç</b></a>
    </div>
}