
@{
    ViewBag.Title = "Portfoy";
}

<section id="services" data-target="services">
    <div class="section-area no-border">
        <div class="container">
            <div class="title-section">
                <h1>Hedefler</h1>
                <p>Film bilgi sistemi web sitemizde film izlenme , begenilen filmler gibi hedeflenmektedir. </p>
            </div>
            <div class="row features">
                <div class="col-sm-4 feature">
                    <h3><span class="fa fa-eye icon-circle"></span> Begenilen Filmler</h3>
                    <p>Belirli türlerde beğenilen filmlerimi</p>
                </div>
                <div class="col-sm-4 feature">
                    <h3><span class="fa fa-trophy icon-circle"></span> Ödüllü Filmler</h3>
                    <p>Belirli türlerde ödül alınan filmler</p>
                </div>
                <div class="col-sm-4 feature">
                    <h3><span class="fa fa-share-alt icon-circle"></span> Yüksek Kalite Filmler</h3>
                    <p>HD kalitesi ile filmlerimiz</p>
                </div>
           
               
                
        </div>
    </div>
</section>