
@{
    ViewBag.Title = "HakkimizdaEkle";
 
}

<label>Sayfa Başlığı Gir </label>
<input class="form-control1 control3" type="text">
<label>Sayfa İçeriği Gir </label>
<textarea rows="6" class="form-control1 control2"></textarea>
<hr>
<input type="submit" value=" Güncelle">