<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://modernfilmsitesi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>modernfilmsitesi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>modernfilmsitesi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$modernfilmsitesi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="uygulamalarContext" Order="1" Enabled="False">
          <Destination Path="Data Source=&quot;Data Source=tcp:rphm5cfyze.database.windows.net,1433&quot;;Initial Catalog=filmsitesi;Persist Security Info=True;User ID=emrebaran123;Password=Loversmoth.31" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FilmSitesi.DAL.uygulamalarContext, FilmSitesi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)uygulamalarContext-Web.config Connection String">
      <ParameterValue>Data Source="Data Source=tcp:rphm5cfyze.database.windows.net,1433";Initial Catalog=filmsitesi;Persist Security Info=True;User ID=emrebaran123;Password=Loversmoth.31</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>