@model FilmSitesi.Models.tbl_Kategori
@{
    ViewBag.Title = "Ekle";

}

<h2 style="color:green;">@ViewBag.Mesaj</h2>
<h2 style="color:red;">@ViewBag.Hata</h2>
<h2>Kategori Ekle</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p>NOT Kategori eklerken Boşluk  yerine - ' kullanın.</p>
    <p>
        Adı &nbsp;  @Html.TextBoxFor(x => x.KategoriAdi)&nbsp; &nbsp;
        <button type="submit" class="btn btn-primary">  Ekle  </button>
    </p>
}